body {
  margin: 0px;
  padding: 0px;
  background: url(m2.jpg);
  background-size: 2222px;
  background-repeat: no-repeat;
  color: white;
}
.left {
  color: rgb(241, 237, 229);
  /* border: 2px solid red; */
  position: absolute;
  left: 60px;
  top: 20px;
  display: inline-block;
}
.left img {
  width: 100px;
  filter: invert(100%);
}
.left div {
  text-align: center;
  line-height: 19px;
  font-size: 19px;
}
.mid {
  color: white;
  /* border: 2px solid pink; */
  display: block;
  width: 40%;
  margin: 20px auto;
}
.right {
  color: white;
  /* border: 2px solid greenyellow; */
  position: absolute;
  right: 34px;
  top: 20px;
  display: inline-block;
}

.navbar li {
  display: inline-block;
  color: white;
  font-size: 23px;
}
.navbar li a:hover,
.navbar li a:active {
  color: brown;

  text-decoration: underline;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}
.btn {
  color: white;
  margin: 0px 9px;
  background-color: black;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  color: gray;
}
.container {
  border: 2px solid green;
  margin: 106px 80px;
  padding: 75px;
  width: 30%;
  border-radius: 28px;
  border-color: white;
  box-shadow: 5px 5px 5px  5px grey;



}
.form-group input{
  text-align: center;
  display: block;
  width: 400px;
  padding: 10px;
  border: 2px solid black ;
  margin: auto;
  border-radius: 20px;
}
.container h1{
  text-align: center;
}
.container button{
  display: block;
  width: 69%;
  margin:  10px auto;
  border-radius: 20px;
  
  
}
@media screen and (max-width: 600px){
  .container h1{
    font-size: 26px;
  }
  .navbar li{
    font-size: 18px;
  }

}

.btn{
   font-size: 15px;
}